## PROFESSIONAL AFFILIATIONS & SERVICE

- Forbes Technology Council — Member & Contributor
- Institute of Electrical and Electronics Engineers (IEEE) — Member
- International Association of Privacy Professionals (IAPP) — Member and Sponsor
- Information Systems Audit and Control Association (ISACA) — Member
- Association for the Advancement of Artificial Intelligence (AAAI) — Member
- Society for Information Management (SIM) Capital Area Chapter — Member
- ACT-IAC (American Council for Technology–Industry Advisory Council) — Contributor
- Military Officers Association of America (MOAA) — Member
- Army & Navy Club, Washington, DC — Member
- George Washington University Alumni Association — Member
- College of Charleston Alumni Association — Member
- Federal Chief Information Officer Council — Former Member (ex officio as NEA CIO, through 2026)
- Federal Chief AI Officer (CAIO) Council — Former Member (ex officio as NEA CAIO, through 2026)
- Federal Senior Agency Official for Privacy Council — Former Member (ex officio as NEA CPO, through 2026)
