## HONORS, AWARDS & RECOGNITION

- Chairman's Award for Distinguished Service — National Endowment for the Arts (2022)
- Award for Work on Agile Contracting Solutions — DHS USCIS CIO's Award (2015)
- Lean Agile Innovation Award — DHS USCIS CIO's Award (2015)
- First Federal Hackathon — DHS USCIS CIO's Award (2014)
- Army Commendation Medal for Leadership — U.S. Army (2009)
- Leadership Excellence Award — Association of the U.S. Army (2009)
- Navy Achievement Medal for Leadership — U.S. Marine Corps (2002)
- Military Excellence Award for Leadership — Non-Commissioned Officers Association (2000)
