---
layout: default
---
<div class="profile-header">
  <div class="profile-header-inner wrapper">
    <img class="profile-photo" src="/JimTunnessen_Jacket_Headshot_ITShop2026.jpg" alt="James E. Tunnessen JR.">
    <div class="profile-text">
      <h1 class="profile-name">JAMES E. TUNNESSEN JR., MBA</h1>
      <p class="profile-subtitle"><em>D. Eng. Candidate, Artificial Intelligence &amp; Machine Learning</em><br>
      Forbes Technology Council ~ Federal CAIO Council Member</p>
      <p class="profile-contact">
        <strong>Email:</strong> jetjr@gwu.edu &nbsp;&bull;&nbsp;
        <strong>Location:</strong> Washington, DC area &nbsp;&bull;&nbsp;
        <strong>GitHub:</strong> github.com/jtunnessen &nbsp;&bull;&nbsp;
        <strong>LinkedIn:</strong> linkedin.com/in/jimtunnessen
      </p>
    </div>
  </div>
</div>

<article class="post">

  <div class="post-content">
    {{ content }}
  </div>

</article>
